/* logo */
.navbar-brand{
    font-family: var(--font-brand);
    font-size: 1.5rem;
    font-weight: 700;
    color:var(--color-text-dark);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left:15px;
}

/* menu & hover */
.navbar-nav{
    display:flex;
    align-items:center;
    gap:25px;
}

.nav-link{
    font-weight: 650;
    font-size: 1rem;
    color:var(--color-text-dark);
    position: relative;
    padding: 5px 0;
    white-space: nowrap;
}

.nav-link:hover{
    color:var(--color-text-dark);
}

.nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-text-dark);
    transition: width 0.3s ease;
}

.nav-link:hover::after{
    width: 100%;
}

/* dropdown */
#navbarNavDropDown{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 15px), -50%);   
    display: flex;
    align-items: center;
}
